<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fenrirmma.hreysti_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".workout.createWorkoutActivity"></activity>
        <activity android:name=".user.clientActivity" />
        <activity android:name=".user.coachActivity" />
        <activity android:name=".login.newSignUp" />
        <activity android:name=".user.adminActivity" />
        <activity android:name=".workout.exerciseOfTheDay"></activity>
    </application>

</manifest>